/**
 *
 * Variables For Big Trees Site
 *
 */

// Fonts Used
$arimo: 'Arimo', sans-serif;
$teko: 'Teko', sans-serif;
$anton: 'Anton', sans-serif;

$logo_font: $anton;
$body_font: $arimo;
$header_font: $teko;

// Colors To Use
$green: #3c733c;
$light_green: #4d924d;
$dark_green: darken($green, 15%);
$grey: #323232;
$text: #3b3b3b;
$nav: #676363;

// Padding
$button_padd: 0.8em 0.6em;



// Bootstrap Overwrite
$theme-colors: (
  "primary": $green,
  "light": #FFF
);
$enable-rounded: false;