/**
 *
 * Variables For Big Trees Site
 *
 */

// Fonts Used
$arimo: 'Arimo', sans-serif;
$teko: 'Teko', sans-serif;
$anton: 'Anton', sans-serif;

$logo_font: $anton;
$body_font: $arimo;
$header_font: $teko;